<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/lib/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/lib/global_assets/js/main/jquery.min.js"></script>
    <script src="~/lib/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/lib/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/lib/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/lib/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/lib/global_assets/js/plugins/pickers/daterangepicker.js"></script>    
    <script src="~/lib/global_assets/js/plugins/notifications/noty.min.js"></script>
    <script src="~/lib/assets/js/app.js"></script>
    <script src="~/js/framework-init.js"></script>
    <script src="~/js/site.js"></script>
    <!-- /theme JS files -->
</head>
<body>
    @RenderBody()
</body>
</html>
