<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="content">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-3 offset-md-2 offset-sm-1">
                        <div class="card">
                            <div class="card-header bg-indigo">
                                <h1></h1>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label><i class="icon-pin mr-2"></i><span class="font-weight-bold text-indigo">Nereden</span></label>
                                    <select class="form-control select-remote-data" data-fouc id="selectFrom" data-placeholder="Kalkış Noktası Seçiniz">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-indigo-100 text-secondary btn-icon rounded-pill ml-2" id="btnChangeLocation"><i class="icon-sort"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><i class="icon-pin-alt mr-2"></i><span class="font-weight-bold text-indigo">Nereye</span></label>
                                    <select class="form-control select-remote-data" data-fouc id="selectTo" data-placeholder="Varış Noktası Seçiniz">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group mb-lg-5">
                                    <label><i class="icon-calendar mr-2"></i><span class="font-weight-bold text-indigo">Tarih</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control daterange-single" value="" id="txtDate">
                                        <span class="input-group-append">
                                            <span class="input-group-btn-vertical">
                                                <button class="btn btn-sm btn-indigo-100 text-secondary" id="btnToday">Bugün</button>
                                                <button class="btn btn-sm btn-outline-indigo-100 text-secondary ml-2" id="btnTomorrow">Yarın</button>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group pl-5 pr-5">
                                    <a id="btnSearchTicket" class="btn btn-indigo w-100">Biletleri Bul</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>